* {
    font-family: 'Romanesco', cursive;
    font-size: 46px;
    margin: 0;
    padding: 0;
}

#sideNav {
    background-color: #202020;
    color: white;
    width: 0;
    height: 0;
}

a {
    display: block;
    text-align: center;
    padding-top: 0.5em;
    text-decoration: none;
    color: white;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}

.active {
    color: #3D8BD3;
}

#sideNav a:last-child {
    padding-top: 5em;
}

#burger:hover {
    cursor: pointer;
}

.nav {
    display: flex;
    position: absolute;
    float: left;
    height: auto;
    /* border: solid 1px; */
    width: 100%;
    position: sticky;
}

#caption {
    padding-left: 1.5em;
    /* vertical-align: middle; */
}

.welcome {
    display: block;
    padding-top: 1.5em;
    height: 50vh;
}

.welcome-img {
    background-image: url("img/hallway.jpg");
    background-size: cover;
    height: 100%;
    filter: blur(1px);
    /* -webkit-filter: blur(3px); */
}

#slogan {
    color: white;
    font-size: 1.5em;
    /* border: 3px solid #f1f1f1; */
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    /* z-index: 2; */
    width: 80%;
    padding: 20px;
}

.btn {
    font-family: 'Prata', serif;
    font-size: 25px;
    position: absolute;
    text-decoration: none;
    background-color: rgb(12, 104, 179);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    /* border-radius: 10%; */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn+.btn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.catering {
    display: block;
    padding-top: 1em;
}

.kitchen-img {
    background-image: url("img/lobby.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 40vh;
    width: 100vw;
    filter: blur(1px);
}

#slogan-2 {
    position: absolute;
    color: white;
    font-size: 1em;
    /* border: 3px solid #f1f1f1; */
    /* text-align: center; */
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.btn-speisen {
    font-family: 'Prata', serif;
    font-size: 25px;
    position: absolute;
    text-decoration: none;
    background-color: rgb(12, 104, 179);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    /* border-radius: 10%; */
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.service {
    display: block;
    padding-top: 1em;
    height: 50vh;
}

.service-img {
    background-image: url("img/reception.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    filter: blur(1px);
}